body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ff8a00, #e52e71, #00bfff);
  background-size: 600% 600%;
  animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background: linear-gradient(135deg, #f8f9fa 0%, #f8f9fa 25%, #e9ecef 25%, #e9ecef 50%, #dee2e6 50%, #dee2e6 75%, #ced4da 75%);
  padding: 20px;
  color: #000000;
  text-align: center;
}

/* nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
} */

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  color: #000000;
}

ul {
  list-style-type: none;
  padding-left: 1px;
  color: #000000;
}

footer {
  background-color: #f8f9fa;
  padding: 1px;
  text-align: center;
  font-size: 13px;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #a1c4fd, #c2e9fb, #c2e9fb, #ffc3a0);
  background-size: 400% 400%;
  animation: gradientAnimation 12s ease infinite;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
